@model EmployeeViewModel

@{
    var departments = new SelectList(ViewBag.Departments, "Id", "Name");
    ViewData["Title"] = $"{(Model?.Id > 0 ? "Edit" : "Add")} Employee"; ;
}


<div class="card border-secondary mb-3" style="max-width: 100%; margin-top:20px;">
    <div class="card-header">@(Model?.Id > 0 ? "Edit" : "Add New") Employee</div>
    <div class="card-body">
        <div class="row" style="margin-left:200px;">
            <div class="col-md-8">
                <form method="post" asp-controller="Employees" asp-action="@(Model?.Id > 0 ? "Edit" : "Create")" enctype="multipart/form-data">
                   
                    @if(Model?.Id>0){ <input type="hidden" asp-for="Id" />   }                    
                    <div class="form-group">
                        <label class="form-label mt-2" asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Enter Employee Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                      <div class="form-group">
                        <label class="form-label mt-2" asp-for="Age"></label>
                        <input asp-for="Age" class="form-control" placeholder="Enter Employee Age">
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label mt-2" asp-for="Image"></label>
                        <input asp-for="Image" class="form-control" placeholder="Enter Employee Photo" accept=".jpg,.png,.jpeg">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                      <div class="form-group">
                        <label class="form-label mt-2" asp-for="EmployeeAddress"></label>
                        <input asp-for="EmployeeAddress" class="form-control" placeholder="Enter Employee Address">
                        <span asp-validation-for="EmployeeAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label mt-2" >Phone number</label>
                        <input asp-for="Phone" class="form-control" placeholder="Enter Employee Phone">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label mt-2" asp-for="DepartmentId"></label>

                        <select class="form-select" asp-for="DepartmentId" asp-items="departments">

                            <option value="">--Select Department--</option>
                     
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label mt-2" asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" placeholder="Enter Employee Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label mt-2" asp-for="HirngDate"></label>
                        <input asp-for="HirngDate" class="form-control" placeholder="Enter Employee Hiring Date">
                        <span asp-validation-for="HirngDate" class="text-danger"></span>
                    </div>
                      <div class="form-group">
                        <label class="form-label mt-2" asp-for="Salary"></label>
                        <input asp-for="Salary" class="form-control" placeholder="Enter Employee Salary">
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
   
                    
                  <div class="form-check form-switch mt-3">
                        <input class="form-check-input" type="checkbox" asp-for="IsActive">
                        <label class="form-check-label" asp-for="IsActive"></label>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Save</button>
                    <a asp-controller="Employees" asp-action="Index" class="btn btn-danger mt-2">Back To List</a>

                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}