
@{
    ViewData["Title"] = "Complete Forget Password";
    Layout = "_AuthenticationLayout2";
}


<div style="padding:50px;">
    Reset Password link has been sent to your inbox. Please Check <a  style="color:blue; text-decoration:none" href="https://mail.google.com/mail/u/1/#inbox">Your inbox!</a>
</div>
