@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "Forget Password";
    Layout = "_AuthenticationLayout2";
}
<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-controller="Accounts" asp-action="ForgetPassword">
            <div asp-validation-summary="All"></div>
            <div class="txt_field">
                <input type="email" asp-for="Email" required>
                <span></span>
                <label>Email</label>
            </div>
            <input style="margin-bottom:40px;" type="submit" value="Forget Password">

        </form>
    </div>
</div>


