@{
    ViewData["Title"] = "Reset Password Complete";
    Layout = "_AuthenticationLayout2";

}

<div style="padding:50px;">
    Reset Password  has been Complete Successfully!. You Can Login Now <a asp-controller="Accounts" asp-action="Login" style="color:blue; text-decoration:none">Login</a>
</div>
