@model ResetPasswordViewModel 
@{
    ViewData["Title"]="Reset Password";
    Layout = "_AuthenticationLayout2";

}

<form asp-asp-controller="Accounts" asp-action="ResetPassword" method="post">
    <div asp-validation-summary="All"></div>

   <input type="hidden" asp-for="Email"/>
    <input type="hidden" asp-for="Token" />

    <div class="txt_field">
        <input type="password" asp-for="NewPassword" required>
        <span></span>
        <label>New Password</label>
    </div>
    <div class="txt_field">
        <input type="password" asp-for="ConfirmPassword" required>
        <span></span>
        <label>Confirm Password</label>
    </div>
    
    <input style="margin-bottom:100px;" type="submit" value="Reset Password">

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}